.navigation-links-nav {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navigation-links-text {
  font-style: normal;
  font-weight: 700;
}
.navigation-links-text1 {
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}








.navigation-links-root-class-name15 {
  top: 2px;
  left: -604px;
  position: absolute;
}
@media(max-width: 991px) {
  .navigation-links-root-class-name15 {
    top: 0px;
    left: -717px;
    position: absolute;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
